:root {
    --sea-height: 170px;
    --transition-time: 1.2s;
    --ui-radius: 18px;
    --ui-padding: 15px;
    --label-radius: 53px;
    --ruler-offset: 45px;
    --label-width: 56px;
    --label-gap: 10px;
    --field-number: 7;

    --color-space: rgb(28 28 73);
    --color-middle: rgb(100 165 246);
    --color-sky: rgb(242 230 191);
    --color-sunset: #fcbf3e;
    --color-ground: #7db97d;
    --color-sea: rgb(92 139 187);
    --color-below: rgb(135 111 98);

    /* --environment: 3700px; */
    --elevation: 0px;
    --planned: 0px;
    --indicated: 0px;
    --datum: 0px;
    --pressure: 0px;
    --density: 0px;
    --true: 0px;
    --absolute: 0px;
    --feels: 0px;
    --freezing: 0px;
}

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
}

h2 {
    font-size: 24px;
}

a {
    color: white;
}

ul {
    list-style: disc;
    padding-left: 14px;
}

/* --- input and button styles --- */
.input-wrapper, .input-inline-wrapper {
    display: flex;
}
.input-wrapper .input-inline-wrapper {
    align-self: stretch;
}
.input-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}
.input-inline-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
input, select {
    width: 100%;
    background-color: white;
    color: black;
    outline-offset: -2px;
}
input, select, button, .btn {
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
    font-size: 16.4px;
    margin: 0;
    padding: 5px 10px;
    border: none;
    border-radius: 100px;
}
.select-wrapper {
    position: relative;
    width: 100%;
}
.select-wrapper:before {
    content: '\f078';
    font-family: "Font Awesome 6 Free";
    color: black;
    display: inline-block;
    position: absolute;
    right: 13px;
    top: 7px;
    pointer-events: none;
}
select {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

.help-text {
    font-size: 10px;
}

button, .btn {
    background: rgb(15, 15, 15, 0.29);
    border: 1px #fff solid;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.switch {
    --switch-padding: 4px;
    --dot-size: 23.5px;
    position: relative;
    display: inline-block;
    width: calc((var(--dot-size) + var(--switch-padding)) * 2);
    height: calc(var(--dot-size) + var(--switch-padding) * 2);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: calc(var(--dot-size) + var(--switch-padding) * 2);
}

.slider:before {
    position: absolute;
    content: "";
    height: var(--dot-size);
    width: var(--dot-size);
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--color-ground);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--color-ground);
}

input:checked + .slider:before {
  transform: translateX(var(--dot-size));
}

#copyButton.success {
    color: var(--color-ground);
}

#syncAirportButton.vfr {
    color: rgb(34, 248, 34);
}
#syncAirportButton.mvfr {
    color: rgb(51, 112, 255);
}
#syncAirportButton.ifr {
    color: rgb(179, 9, 9);

}
#syncAirportButton.lifr {
    color: rgb(154, 30, 255);

}
#syncAirportButton i {
    margin-right: 5px;
    color: white;
}
#syncAirportButton i.fa-wifi {
    color: rgb(179, 9, 9);
}

/* --- interface wrapper --- */
ui {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: calc(-292px - env(safe-area-inset-top));
    transition: top .5s ease-in-out;
    will-change: top;
}
ui.out {
    top: 0px;
}


inputs, info, views, settings, whatsnew, #updateAvailable {
    color: white;
    background-color: rgba(0,0,0,0.7);
    border: #4e4e4e 1px solid;
    box-shadow: #0000002e 5px 5px 8px;
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  inputs, info, views, settings, whatsnew, #updateAvailable {
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
  }
}

/* --- inputs panel --- */
inputs {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    align-self: stretch;
    border-top: none;
    gap: 10px;
    border-bottom-right-radius: var(--ui-radius);
    border-bottom-left-radius: var(--ui-radius);
    padding: var(--ui-padding);
    padding-top: calc(var(--ui-padding) + env(safe-area-inset-top));
    z-index: 10;
}
#inputButtons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#resetRow {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
#controlRow {
    display: flex;
    gap: 10px;
    margin-top: calc(5px + env(safe-area-inset-top));
    padding-left: env(safe-area-inset-left);
    transition: margin-top .5s ease-in-out;
    will-change: margin-top;
}
ui.out #controlRow {
    margin-top: 0;
}
#infoBtn {
    margin-left: auto;
}
inputs .input-wrapper {
    width: calc(50% - 5px);
}

.calculated {
    color: rgb(179, 17, 17);
}

/* --- info panel --- */
info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
    border-radius: var(--ui-radius);
    padding: var(--ui-padding);
    margin-top: 15px;
    opacity: 0;
    position: absolute;
    top: -430px;
    z-index: 2;
    /* transition to hiding */
    transition: top .4s ease-out, opacity .2s ease-out;
    will-change: top;
}
info.out {
    /* transition to showing */
    transition: top .4s ease-out, opacity .2s ease-out .2s;
    opacity: 1;
    top: 0px;
}
info > div {
    display: flex;
    justify-content: space-between;
}
info > div > div {
    min-width: 100px;
}
info > div > div:nth-child(2) {
    text-align: right;
}

/* --- wind indicator --- */
wind {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-top: 15px;
    margin-right: var(--ruler-offset);
    align-self: flex-end;
    font-size: 12px;
    z-index: 1;
}

arrow {
    position: absolute;
    top: 10%;
    left: calc(50% - 2.5px);
    width: 3px;
    height: 80%;
    background-color: black;
    border-radius: 12px;
    transition: transform 1.2s ease-out;
    transform-origin: center;
}
arrow::after, arrow::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 30%;
    right: -8px;
    background-color: inherit;
    border-radius: 12px;
}
arrow::after {
    top: -2px;
    right: -4px;
    transform: rotate(-25deg);
}
arrow::before {
    top: -2px;
    left: -4px;
    transform: rotate(25deg);
}
direction, velocity {
    position: absolute;
}
direction {
    left: 0;
}
velocity {
    right: 0;
}

/* --- settings, whats new panel --- */
#settingsWrapper, #whatsNewWrapper {
    display: none;
    background-color: rgba(15,15,15,0.89);
    width: 100%;
    height: 100vh;
    padding: 30px;
    position: fixed;
    top: 0;
    z-index: 200;
}
#settingsWrapper.out, #whatsNewWrapper.out {
    display: flex !important;
}

settings, whatsnew {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 350px;
    max-height: min(500px, 100%);
    margin: auto;
    padding: var(--ui-padding);
    border-radius: var(--ui-radius);
}
settings h2, whatsnew h2 {
    margin: 0;
}
settings #settingsFields {
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
}
#versions {
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 10px;
}
#settingsButtons {
    display: flex;
    gap: 15px;
}
#settingsButtons > *{
    width: 100%;
}

/* --- views panel --- */
views {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: fixed;
    bottom: 0;
    padding: var(--ui-padding);
    padding-bottom: calc(8px + max(env(safe-area-inset-bottom), 7px));
    border-top-right-radius: var(--ui-radius);
    border-top-left-radius: var(--ui-radius);
    text-align: center;
    border-bottom: none;
}
views > div {
    display: flex;
    justify-content: space-around;
    margin-bottom: 8px;
}
views > p {
    font-size: 14px;
    margin: 0;
}
views > p.smallprint {
    font-size: 10px;
}

/* --- update notification --- */
#updateAvailable {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: var(--ui-padding);
    border-radius: var(--ui-radius);
    position: fixed;
    bottom: -100%;
    opacity: 0;
    transition: bottom .2s ease-out;
    transition: bottom .4s ease-out, opacity .2s ease-out;
    will-change: bottom;
}
#updateAvailable.out {
    transition: bottom .4s ease-out, opacity .2s ease-out .2s;
    opacity: 1;
    bottom: var(--sea-height);
}

environment {
    display: block;
    width: 100%;
    height: var(--environment, 7000px);
    position: relative;
    background: rgb(0, 190, 228);
    background: linear-gradient(180deg, var(--color-space) 0%, var(--color-middle) 36%, var(--color-sky) 90%, var(--color-sunset) 100%);
}

sea {
    background-color: var(--color-sea);
    height: var(--sea-height);
    width: 30%;
    display: block;
    padding: 15px;
    border-top: #759fd0 6px solid;
    position: absolute;
    bottom: 0;
    left: 0;
}
sea::before {
    content: '';
    width: 233.3%;
    display: block;
    background-color: var(--color-sea);
    height: var(--sea-height);
    border-top: #759fd0 6px solid;
    position: absolute;
    bottom: -6px;
    left: 100%;
}
#seaInfo {
    color: #2c4155;
}

ground {
    background-color: var(--color-ground);
    height: calc(var(--sea-height) + var(--elevation));
    width: 70%;
    display: block;
    text-align: center;
    padding: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    border: #a1d09f 6px solid;
    border-bottom: none;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    transition: height var(--transition-time) ease-out;
    will-change: height;
}
#groundInfo {
    color: #4c7150;
}

below {
    background: linear-gradient(180deg, var(--color-below) 0%, rgb(39 32 28) 100%); /* var(--color-below); */
    width: 100%;
    height: 1000px;
    border: #b2a18b8a 6px solid;
    box-shadow: #00000047 0px 0px 15px;
    position: absolute;
    bottom: -1000px;
}

ruler {
    --tick-size: 20px;
    display: block;
    width: 100%;
    position: relative;
    bottom: 0;
    font-size: 14px;
}
ticks, negativeTicks {
    display: block;
}
ticks tick:nth-child(odd) {
    width: var(--tick-size);
}
negativeTicks {
    position: absolute;
    margin-top: 2px;
}
negativeTicks tick:nth-child(even) {
    width: var(--tick-size);
}
tick {
    display: block;
    border-bottom: black 2px solid;
    width: calc(var(--tick-size) / 2);
    position: relative;
}
tick > span {
    position: absolute;
    bottom: 0;
}

ruler.hide-zero ticks tick:last-child  {
    visibility: hidden;
}

ruler.right negativeTicks {
    right: 0;
}
ruler.right tick {
    margin-left: auto;
}
ruler.right tick span {
    right: 0;
}

altitudes > * {
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0px;
    border-bottom: #0b364f36 2px solid;
    /* border-bottom: black 2px solid; */
    transition: bottom var(--transition-time) ease-out;
    will-change: bottom;
}
altitudes > * > span {
    display: inline;
    width: var(--label-width);
    color: #687078;
    text-align: center;
    font-size: 10px;
    padding: 8px 0px;
    background-color: #f7f7f7;
    border: #c6cdd5 2px solid;
    border-radius: var(--label-radius);
    box-shadow: #00000036 4px 4px 0px;
    position: absolute;
    bottom: -15px;
    z-index: 20;
}

absolute {
    bottom: calc((var(--sea-height) - 1px) + var(--absolute));
}
absolute > span {
    right: var(--ruler-offset);
}

indicated {
    bottom: calc((var(--sea-height) - 1px) + var(--indicated));
}
indicated > span {
    right: var(--ruler-offset);
}

datum {
    bottom: calc((var(--sea-height) - 1px) + var(--datum));
}
datum > span {
    width: calc(var(--label-width) * 1.5);
    left: calc(var(--ruler-offset) + var(--label-width));
}

pressure {
    bottom: calc((var(--sea-height) - 1px) + var(--pressure));
}
pressure > span {
    left: calc(var(--ruler-offset) + (var(--label-width) * 0.5));
}

density {
    bottom: calc((var(--sea-height) - 1px) + var(--density));
}
density > span {
    left: calc(var(--ruler-offset) + (var(--label-width) * 1.7) + var(--label-gap));
}

true {
    bottom: calc((var(--sea-height) - 1px) + var(--true));
}
true > span {
    left: var(--ruler-offset);
}
aircraft {
    background-image: url('/images/cirrus.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    display: inline;
    height: 100px;

    width: 116px;
    bottom: -54px;
    left: calc(58.5% - 58px);
    transition: background-image 1.3s ease-in-out;
    will-change: background-image;
}
aircraft.near-ground {
    background-image: url('/images/cirrus-shadow.png');
}

seaLevel {
    border-bottom: transparent 2px solid;
    bottom: calc(var(--sea-height) - 1px);
}
seaLevel > span {
    display: none;
}

feels {
    border-bottom: transparent 2px solid;
    bottom: calc(var(--sea-height) - 1px + var(--feels));
}
feels > span {
    display: none;
}

freezingLevel {
    bottom: calc((var(--sea-height) - 1px) + var(--freezing));
}
freezingLevel> span {
    right: calc(var(--ruler-offset) + var(--label-width) + var(--label-gap));
}

.hidden {
    display: none;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

@media screen and (min-width: 660px) {
    :root {
        --ruler-offset: 55px;
        --label-width: 80px;
    }

    ui {
        top: 0 !important;
    }

    inputs {
        display: inline-flex !important;
        border-radius: var(--ui-radius);
        border-top: #4e4e4e 1px solid;
        padding-top: 15px;
        margin-left: var(--ruler-offset);
        margin-right: var(--ruler-offset);
        margin-top: calc(15px + env(safe-area-inset-top));
    }
    inputs .input-wrapper {
        width: unset;
    }
    inputs input {
        width: 122px;
    }
    #inputButtons {
        flex-direction: row;
    }
    #controlRow {
        margin-top: unset;
    }
    #infoBtn {
        margin-left: unset;
    }
    #fieldsBtn {
        display: none;
    }

    views {
        --views-width: 600px;
        width: var(--views-width);
        left: calc(50% - (var(--views-width) / 2));
    }

    ruler {
        font-size: 16px;
    }

    altitudes > * > span {
        font-size: 13px;
        bottom: -17px;
    }
}

@media screen and (min-width: 800px) {
    :root {
        --ruler-offset: 60px;
        --label-width: 90px;
        --label-gap: 15px;
    }

    wind {
        width: 100px;
        height: 100px;
    }

    arrow {
        width: 4px;
    }

    direction, velocity {
        font-size: 16px;
    }

    altitudes > * > span {
        font-size: 16px;
        padding: 10px 0px;
        bottom: -21px;
    }

    aircraft {
        width: 150px;
        bottom: -55px;
        left: calc(58% - 75px);
    }

    datum > span {
        left: calc(var(--ruler-offset) + var(--label-width) + var(--label-gap));
    }

    pressure > span {
        left: calc(var(--ruler-offset) + (var(--label-width) + var(--label-gap)) * 2.5);
    }

    density > span {
        left: calc(var(--ruler-offset) + (var(--label-width) + var(--label-gap)) * 3.5);
    }
}

@media (display-mode: fullscreen), (display-mode: standalone) {
    body {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        -webkit-touch-callout: none;
    }
}